# Maven
/**/target/

# idea
/**/.idea/
/**/*.iml

# Vite
/**/node_modules/
/**/dist/

# draw.io
/**/.$*.bkp
/**/.$*.dtmp

# Docker
/dockerfile/**/*.tar
/dockerfile/**/*.tar.xz
/dockerfile/**/*.jar

# log
/**/logs/**

# test test_data
/**/static/data/**
/**/workdir/**
/**/outputs/**
/**/tests/

# backup
/**/backup/

# pyc
*.pyc

# PyWPS
/pywps-pyqgis/json_datas/
/pywps-pyqgis/logs/
